<ion-card>
  <ion-card-subtitle class="ion-margin">
    <ion-row class="ion-align-items-center">
      <ion-col (click)="openArticle()">
        <span class="text-primary">{{i}}</span>
        <span  class="aricle-source-name">{{item.source.name}}</span>
      </ion-col>
      <ion-col align="right">
        <ion-button (click)="onOpenMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-subtitle>
  <ion-card-title  class="ion-padding-horizontal ion-margin-bottom">{{item.title}}</ion-card-title>
  <ion-img *ngIf="item.urlToImage"[src]="item.urlToImage" (click)="openArticle()"></ion-img>
  <ion-card-content *ngIf="item.description">
    <p>{{item.description}}</p>
  </ion-card-content>
</ion-card>
